body {
    background-image: url('./fond_cuisine.avif');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-bottom: 60px; /* Ajoutez une marge en bas égale à la hauteur du footer */
}

#loading-screen {
  display: none; /* caché par défaut */
  position: fixed; /* positionnement fixe sur tout l'écran */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* fond semi-transparent */
  backdrop-filter: blur(5px); /* flou pour l'arrière-plan */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* s'assurer qu'il est au-dessus des autres éléments */
}

#recipe {
    background-color: rgb(205, 205, 241);
    padding: 20px; /* Ajoutez un peu de padding pour une meilleure lisibilité */
    border-radius: 10px; /* Optionnel : pour les coins arrondis */
    margin-left: 10px;
    margin-right: 10px;
}
      
header nav {
    height: 50px;
    background-color: black;
    padding: 0px 10%;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  
  header nav a {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
  }
  
  header nav a:hover {
    color: blue;
  }

       
  article h2 {
    font-size: 1.3em;
    text-align: center;
    color: white;
    border: 1px solid black;
    background-color: black;
    
   
  }
  
  article h1 {
    text-align: center;
    color: black;
  }
  
.category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  
}
.category-list, .counter-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.category-button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  background-color: rgb(205, 205, 241);
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: left;
  
  padding: 5px;
  background-color: white;
  cursor: pointer;
  width: 150px; 
  border-radius: 10px; 
  margin: 5px;
}


.ingredient-addition-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%; /* Ajustez cette largeur si nécessaire */
  }
  
  

.custom-button.clicked {
/* Définit la couleur de fond du bouton après le clic */
background-color: rgb(149, 149, 234);
}

.custom-button img {
  width: 30px; 
  height: 30px; 
  margin-right: 5px;
}

.custom-button span {
  font-size: 1em; /* Ajustez la taille de la police selon vos besoins */
}

nav a:hover {
  color: blue;
} 

/* .special-category {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */


.counter-box special-category{
  display: flex;
  align-items: center;
  
}

.counter {
  margin: 0 10px;
  font-size: 18px;
}

.btn-minus,
.btn-plus {
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
}

 /* Ajoutez des styles CSS supplémentaires selon vos besoins */
 .text-box {
  width: 150px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Empêche le redimensionnement de la zone de texte */
}

.genere-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  background-color: rgb(94, 226, 94);
  width: 200px;
  text-align: center;
  margin: 0 auto; /* Ajout de cette ligne pour centrer horizontalement */
}

.ajouter-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(94, 226, 94);
  color: black;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}


footer {
  background-color: black;
  padding: 20px;
  text-align: center;
  height: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}
/* Ajoutez ces styles à votre fichier CSS */
.social-icons {
  display: flex;
  justify-content: flex-end; /* Ajustez selon vos préférences de mise en page */
  align-items: center; /* Centre les icônes verticalement */
  height: 100%; /* Ajuste la hauteur pour les centrer */
}

.social-icons a {
  text-decoration: none;
  margin-left: 15px; /* Ajoute de l'espace entre les icônes */
}

.social-icons img {
  width: 30px; /* Ajustez selon vos préférences de taille */
  height: 30px;
  transform: scale(1.2); /* Effet de zoom au survol */
}

.social-icons img:hover {
  transform: scale(1.2); /* Effet de zoom au survol */
}




@keyframes dotAnimation {
    0% {
        content: ". ";
    }
    33% {
        content: ".. ";
    }
    66% {
        content: "... ";
    }
    100% {
        content: ". ";
    }
}






.dots-animation::after {
    display: inline-block;
    content: ". "; /* Affiche au moins un point pour garantir la visibilité */
    animation: dotAnimation 1s infinite;
}

#loading-container {
    text-align: center;
    color: white;
    font-size: 1.9em; /* Taille du texte */
    display: none;
}


  
#cookie-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#cookie-modal button {
    margin-top: 10px;
    cursor: pointer;
}


#cookie-modal {
    position: fixed; /* ou 'absolute' selon vos besoins */
    z-index: 1000; /* Assurez-vous que cela est supérieur à celui du content-wrapper */
    /* Autres styles pour centrer et présenter la fenêtre modale */
}

.blur-element {
    filter: blur(6px);
}
  

.time-select, .number-select {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(205, 205, 241);
  font-weight: bold;
  
}

.time-select select, .number-select input {
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
}


/* Style pour les conteneurs de sélection */
.category-list > div {
  display: flex; /* Utilise flexbox */
  align-items: center; /* Alignement vertical des éléments */
  margin-bottom: 10px; /* Espace entre chaque groupe label-sélecteur */
}

.category-list label {
  margin-right: 10px; /* Espace entre le label et le sélecteur/input */
}

/* Ajustements pour les sélecteurs et inputs */
.category-list select, 
.category-list input[type="number"] {
  width: 150px; /* Vous pouvez ajuster cette largeur selon vos besoins */
}

